*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.clear{
  clear: both;
}

#wrapper{
  width: 90%;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
}
.col-1 {
  width: 8.33%;
  float: left;
}

.col-2 {
  width: 16.66%;
  float: left;
}
.col-3 {
  width: 25%;
  float: left;
}
.col-4 {
  width: 33.33%;
  float: left;
}
.col-5 {
  width: 41.66%;
  float: left;
}
.col-6 {
  width: 50%;
  float: left;
}
.col-7 {
  width: 58.33%;
  float: left;
}
.col-8 {
  width: 66.66%;
  float: left;
}
.col-9 {
  width: 75%;
  float: left;
}
.col-10 {
  width: 83.33%;
  float: left;
}
.col-11 {
  width: 91.66%;
  float: left;
}
.col-12 .row{
  width: 100%;
  float: left;
}
#header-part{
  background: url(img/vibo-background.png) no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.header-part-1{
  padding: 40px 0;
}

.logo_part{
  text-align: start;
}
.manu-part{
font-size: 18px;
}
.manu-part li{
display: inline-block;
text-align: right;
padding: 0 20px;
}
.manu-part li a{
color: #fff;
font-family: 'Work Sans', sans-serif;
padding: 10px;
border-radius: 8px;
}
.manu-part li a:hover{
color: black;
background: #fff;
}
.hero_part{
  padding-top: 120px;
}
.hero_part h1,p{
  padding-bottom: 40px;
}
.hero-but_part{
  padding-bottom: 70px;
}
.hero-but_part button{
  padding: 10px;
  background: none;
  border: 1px solid #fff;
  margin: 0 10px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  width: 150px;
}
.hero-but_part button:hover{
  background: #fff;
  color: #000;
  transition: all 1s;
}
.hero_part img{
position: relative;
top: 45px;
}
.sec-2-mobile{
  background: url(img/vibo-background-2.png) no-repeat;
  background-size: cover;
  padding: 300px 0px 50px;
  position: relative;
  top: -135px;
}
.info-img-part{
  text-align: center;
  margin-top: 200px;
}
.box-part{
width: 260px;
margin: 0 auto;
text-align: center;
padding: 15px;
border-radius: 8px;
box-shadow: 0px 0px 8px gray;
cursor: pointer;
margin: 10px;

}
.box-part:hover{
  border: 1px solid darkgray;
}
.box-part img, h2, p{
  padding: 13px 0;
  line-height: 27px;
  word-spacing: 5px;
  font-family: 'Work Sans', sans-serif;
}
.posi{
  position: relative;
top: -55px;
left: 80px;
right: 0;
}
.posi-1{
  position: relative;
top: 0px;
left: 180px;
right: 0;
}
.posi-2{
  position: relative;
top: 60px;
left: 0px;
right: 0;

}
.posi-3{
  position: relative;
top: 150px;
left: 130px;
right: 0;

}
#sec-love{
  background: rgba(218, 218, 218, 0.7);
}

.love-part-1{
  text-align: right;
  padding: 10px 40px;
}

.love-btn-part button{
  padding: 15px;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 150px;
  background: #33d2fd;
  color: #fff;
  cursor: pointer;
}
.love-part-2{
  padding: 10px 40px;
}
.love-part-sec-1{
  padding: 30px 10px;
  box-shadow: 0 0 5px darkgray;
  margin: 13px 0;
}
.love-part-sec-1 span{
  font-size: 20px;
  font-weight: 700;
}
.love-part-2 i{
  padding: 0 10px;
}
.para-part{
  background: #33d2fd;
}
.para-part p{
  padding-left: 36px;
}
.love-part-3-img{
  text-align: center;
  padding: 0 -30px;
}
.love-part-3-img img{
  margin-top: 150px;
}
.love-part-3-box{
  padding: 0 100px;
}
.love-h1{
  margin-top: 150px;
}
.sec-4a{
  background: url(img/backgroun-img4.png) no-repeat ;
  background-size: cover;
}
.sec-4-img{
  text-align: center;
  margin: 100px 0;
}
.sec-4-icon-part{
  margin-top: 200px;
}
.sec-4-icon-part p{
  color: #fff;
  padding: 35px 0;
}
.imgpart{
  padding: 25px 0;
}
.imgpart img{
  padding: 0 35px 0px 0;
}
.get-the-app{
  background: #f94f78;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  text-transform: uppercase;
  position: relative;
  top: -25px;
}
.company{
  padding: 100px 100px;
}
.touch{
  text-align: center;
}
.touch-button button:hover{
  color: #fff;
  background: #33d2fd;
  transition: all 1s;
  
}
.touch-button button{
  position: relative;
  top: -20px;
  left: 100px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
}
.foot{
  padding: 25px;
  color: #fff;
}
footer{
  background: #233148;
}
.social{
  padding: 25px;
}
.social i{
  padding: 0 25px;
  text-align: right;
  color: #fff;
}